<body style="background-color: gray;">
<div class="container-fluid">
    <div class="sub-container thehome">
        <div class="p-3" >
            <h1 class="thenewarrival">Admin Dasboard</h1>
            <br>
            <div class="theArea">
                <div class="p-5">
                    <h4 class="eniac-text" >Total Users : {{users}}</h4>
                    <hr>
                    <h4 class="eniac-text" >Total Orders : {{orderCount}}</h4>
                    <hr>
                    <h4 class="eniac-text" >Total Products : {{productCount}}</h4>
                    <hr>
                    <h4 class="eniac-text" >Total Coupons : {{couponCount}}</h4>
                </div>
            </div>
            <br>
                         <h3 class="text-light">Payment wise</h3>
                         <div class="p-5" style="width: 50%;">
                    <canvas id="myChart2"></canvas>
                      
                </div>
            {{!-- <div class="theArea"> --}}
                <h3 class="text-light">Monthly wise sales</h3>
                <div class="p-5">
                    <canvas id="myChart" width="100%" style=" background-color:lightgray;"></canvas>
                      
                </div>         
            {{!-- </div> --}}

            
        </div>
    </div>
</div>
</body>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [{{#each months}}"{{@key}}",{{/each}}],
    datasets: [{
        label: "Orders",
        data: [{{#each months}}{{this}}, {{/each}}],
        backgroundColor:'white',
            borderColor: 'red',
                borderWidth: 2
    },]
  },
    options: {
        animation: {
            duration: 0,
                easing: "easeInOutQuad"
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                   
                },
            }]
        }
   }
});
 var ct2 = document.getElementById("myChart2").getContext("2d");
    var myChart2 = new Chart(ct2, {
        type: "pie",
        data: {
            labels: [{{#each payment_methods}}"{{@key}}",{{/each}}],
    datasets: [{
        label: "Orders",
        data: [{{#each payment_methods}}{{this}}, {{/each}}],
        backgroundColor:['red','grey'],
            {{!-- borderColor: 'red', --}}
                borderWidth: 2
    },]
  },
    options: {
        animation: {
            duration: 0,
                easing: "easeInOutQuad"
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                   
                },
            }]
        }
    }
});
</script>




