<body style="background-color: rgb(46, 41, 41);">
    
    <div class="container-fluid login-cont row" style="margin-top: 70px;">
       
     <center><div class="sub-container mt-5 p-5 w-50 bg-success p-2 text-dark bg-opacity-10 rounded">

            <div class="inner w-50 " >
                
              <form  action="" method="post" enctype="multipart/form-data">
                    <h2 class="text-light">Edit product</h2>
                    <br>
                    <p style="float: left;" class="text-light">Product name</p>
                    <input class="form-control" type="text" name="name" placeholder="enter product name" required value="{{product.name}}" >
                    <br>
                    <p style="float: left;" class="text-light">Category</p>
                   <select class="form-select" aria-label="Category" type="text" name="category" value="{{product.category}}" placeholder="enter category" required>
                        {{#each categoryData}}
                        <option>{{this.name}}</option>
                        {{/each}}
                    </select>
                    <br>
                    <p style="float: left;" class="text-light">Price</p>
                    <input class="form-control" type="text" name="price" placeholder="enter price" required value="{{product.price}}">
                    <br>
                    <p style="float: left;" class="text-light">Description</p>
                    <input class="form-control" type="text" name="description" placeholder="enter description" required value="{{product.description}}">
                    <br>
                    <p style="float: left;" class="text-light">Select image</p>
                    <input type="file" name="image" multiple class="text-white" value="{{product.image.[0]}}">
                    <br>
                    <input type="hidden" name="id" value="{{product._id}}">
                    <p style="float: left;" class="text-light">Quantity</p>
                    <input type="text" name="quantity" class="form-control" value="{{product.quantity}}" placeholder="enter quantity">

                    {{!-- <img src="/productImages/{{product.image.[0]}}" alt=""> --}}
                     
                    <input type="submit" value="Edit" class=" btn cust-btn mt-2 bg-primary">
                </form> 
            </div>
        </div> </center>  
    </div>
</body>