<body style="background-color: rgb(46, 41, 41);">
<div class="container-fluid">
    <div class="sub-container thehome">
        <div class="p-3">
            <h1 class="text-light">Sales Reports</h1>

        {{!-- <div class="col-md-6"> --}}
       <form action="/admin/filter" method="post">
                        <label for="fromDate" class="text-light">From Date:</label>
                        <input type="date" name="fromDate">
                        <label for="toDate" class="text-light">To Date:</label>
                        <input type="date" name="toDate">
                        <input type="submit" value="Filter">
                    </form>
    {{!-- </div> --}}


            <div class="d-flex justify-content-end mb-3">
                <button class="btn btn-secondary" id="download">Download Reports</button>
            </div>
            <div class="theArea" id="invoice" >
                <div class="p-5" >
                    {{!-- <h4 class="text-light"> TotalSales :₹{{totalSales}}</h4> --}}
                    <div class="table-responsive text-nowrap">
                       
                        <table class="table" id="">
                            <thead>
                                <tr style="color: aliceblue;">
                                    <th>Order Id</th>
                                    <th>Ordered Date</th>
                                    {{!-- <th>Delivered Date</th> --}}
                                    <th>Order Price</th>
                                </tr>
                            </thead>
                            {{!-- {{#each orderdata}} --}}
                            <tbody class="table-border-bottom-0">
                                {{#each orderdata}}
                                <tr style="color: aliceblue;">
                                    <td>{{this.orderId}}</td>
                                    <td>{{this.date}}</td>
                                    
                                    <td>₹{{this.subtotal}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                      <h4 class="text-light"> TotalSales :₹{{totalSales}}</h4>
                      
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <h3 class="eniac-text"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>







<script>
    window.onload = function () {
        document.getElementById("download")
            .addEventListener("click", () => {
                const invoice = this.document.getElementById("invoice");
                console.log(invoice);
                console.log(window);
                var opt = {
                    margin: 1,
                    filename: 'myfile.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
                html2pdf().from(invoice).set(opt).save();
            })
    }
</script>