<body style="background-color: rgb(46, 41, 41);">
    <div class="container-fluid">
        <div class="sub-container thehome">
            <div class="p-3">
                <h1 class="thenewarrival" style="color: rgb(255, 255, 255);">User Management</h1>
                <div class="theArea">
                    <table class="table" id="list_users">
                        <thead>
                            <tr style="color: rgb(255, 255, 255);">
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Action</th>
                                <th scope="col">Verification</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr style="color: rgb(255, 255, 255);">
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.mobile}}</td>
                                <td>
                                    {{#if this.blocked}}
                                   <a href="/admin/unblockuser?id={{this._id}}" class="btn btn-primary">Unlist</a>
                                    {{else}}
                                     <a href="/admin/blockuser?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to block?')">List</a>
                                    
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if is_verified}}
                                    <h4 class="text-success">verified</h4>
                                    {{else }}
                                    <h4 class="text-danger">not verified</h4>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if blocked}}
                                    <h4 class="text-danger">Listed</h4>
                                    {{else}}
                                    <h4 class="text-success">Unlisted</h4>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    		<script>
$(document).ready( function () {
    $('#list_users').DataTable();
});
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

</body>

