

<body style="background-color: rgb(46, 41, 41);">
    <div class="container-fluid">
        <div class="sub-container thehome">
            <div class="p-3">
                <h1 class="text-light text-center "> Users Ordered Products</h1>
                <div class="theArea container my-4">
                    <table class="table table-hover table-dark table-striped">
                        <thead>
                            <tr style="color: aliceblue;">
                                {{!-- <th scope="col">Address</th> --}}
                                <th scope="col">Product image</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Product id</th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            {{#each order}}
                            <tr style="color:aliceblue ;">
                                {{!-- <td>{{../addressId}}</td> --}}
                                <td><img src="/productImages/{{this.image}}"   style='width:7rem' class="img-fluid" ></td>
                            

                            {{#each product}}
                            
                                <td><strong>{{name}}</strong></td>
                                <td><strong>{{quantity}}</strong></td>
                                <td><strong>₹{{price}}</strong></td>  
                                <td><strong>{{id}}</strong></td>          
                            </tr>
                            {{/each}}

                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>