
<link rel="stylesheet"type="text/css" href="/style/fullstyle.css">
<section class=" gradient-custom-2">
  <h2 style="text-align: center; color: aliceblue;">Your orders</h2>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card">
        {{#each order}}
      <div class="col-md-12 col-lg-12 col-xl-12 p-5">
        
        {{!-- <div class="card card-stepper" style="border-radius: 16px;"> --}}
          <div class="card-header p-4">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="mb-2"> <strong>Order ID:</strong> <span class="fw-bold text-body">{{orderId}}</span></p>
                <p class=" mb-0"> <strong>Place On:</strong> <span class="fw-bold text-body">{{date}}</span> </p>
              </div>
              <div>
                {{!-- <h6 class="mb-0"> <a href="#">View Details</a> </h6> --}}
              </div>
            </div>
          </div>
          {{#each product}}
          <div class="card-body p-4">
            <div class="d-flex flex-row mb-4 pb-2">
              <div class="flex-fill">
                <h5 class="bold">Product name: {{name}}</h5>
                <p class=""><strong> Qty: </strong>{{quantity}}</p>
                {{!-- <h4 class="mb-3">Price: ₹{{price}} <span class="small text-muted"> via (COD) </span></h4> --}}
                {{!-- <p class="text-muted">Tracking Status on: <span class="text-body">{{../status}}</span></p> --}}
                {{#iftrue ../status "pending"}}
                                    <h5 class="text-muted">pending</h5>
                                    {{/iftrue}}
                                    {{#iftrue ../status "shipped"}}
                                    <h5 style="color: cornflowerblue;" class="">Shipped</h5>
                                    {{/iftrue}}
                                    {{#iftrue ../status "delivered"}}
                                    <h5 style="color: rgb(125, 225, 25);" class="">delivered</h5>
                                    {{/iftrue}}
                                    {{#iftrue ../status "cancelled"}}
                                    <h5 class="text-danger">cancelled</h5>
                                    {{/iftrue}}
                                    {{#iftrue ../status "returned"}}
                                    <h5 style="color: coral;" class="">Returned</h5>
                                    {{/iftrue}}
              </div>
              {{!-- <div>
                <img class="align-self-center img-fluid"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/6.webp" width="250">
              </div> --}}
            </div>
            {{!-- <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
              <li class="step0 active" id="step1"><span
                  style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
              <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
              <li class="step0 text-muted text-end" id="step3"><span
                  style="margin-right: 22px;">DELIVERED</span></li>
            </ul> --}}
            {{/each}}
          </div>
          <div class="card-footer p-4">
            <div class="d-flex justify-content-between">
              {{!-- <h5 class="fw-normal mb-0"><a href="#!">Track</a></h5> --}}
              <div class="border-start h-100"></div>
              {{#iftrue this.status "pending"}}
              <h4 class="btn btn-danger"><a href="/cancelOrder?id={{this._id}}" style="color: rgb(255, 255, 255);">Cancel</a></h4>
              {{/iftrue}}
               {{#iftrue this.status "shipped"}}
              <h4 class="btn btn-danger"><a href="/cancelOrder?id={{this._id}}" style="color: rgb(255, 255, 255);">Cancel</a></h4>
              {{/iftrue}}
               {{#iftrue this.status "delivered"}}
              <h4 class="btn btn-primary"><a style="color: aliceblue;" href="/cancelOrder?id={{this._id}}" style="color: cornflowerblue;">Return</a></h4>
              {{/iftrue}}
              
              <h5 class="btn btn-secondary"><a style="color: aliceblue;" href="/invoice?id={{orderId}}">View details</a></h5>
              
              
    
            </div>
          </div>
        {{!-- </div> --}}
      </div>
      {{/each}}
      </div>
      
    </div>
  </div>
</section>